<div class="order-detail">
  <header>
    List of items and its current stock.
  </header>

  <div>

  </div>

  <div class="order-list-section">
    <div class="row header">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4">
        User Detail
      </div>
      <div class="col-lg-3">
        Vegetable List
      </div>
      
      <div class="col-lg-2">
          Order Date
        </div>
        <div class="col-lg-2">
            Current Status
          </div>


    </div>
    <div class="row" *ngFor="let order of orderList; let i = index">
      <div class="col-lg-1">
        {{i+1}}
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div>{{order.name}}</div>
            <div>{{order.phone}}</div>
            <div>{{order.email}}</div>
          </div>
          <div class="col-lg-6">
            <div>{{order.address[0].addressLine1}}</div>
            <div>{{order.address[0].city}}</div>
            <div>{{order.address[0].pincode}}</div>
            <div>{{order.address[0].state}}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div *ngFor="let item of order.itemList">
          <span>{{item.itemName}}</span> - <span>{{item.itemQty}} {{item.itemUnit}}</span>
        </div>
      </div>
      <div class="col-lg-2">
        {{order.orderDate}}
      </div>
      <div class="col-lg-2">
        {{order.currentStatus}}
      </div>


    </div>
  </div>

</div>